body {
    margin : 0;
    background: hsl(260, 5%, 76%);
    text-align: center; 
}

.logo {
    border-top: 0;
<<<<<<< HEAD
    font: 200%/1.6 georgian;
=======
    font: 15 palatino;
>>>>>>> 7394fd74c6541f069029aa1e49919b315ccb8c7e
    padding: 0 1em 2em;
}

.nav {
<<<<<<< HEAD
    font: 150%/1.5 serif;
=======
    font: 10, serif;
>>>>>>> 7394fd74c6541f069029aa1e49919b315ccb8c7e
}

.semibold {
    font-size: x-large;
}

h5 {
    font-size: large
}

.projects-list {
    border-color: #0c73e9;
}

  a:link { 
    color: #0c73e9;
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
