body {
    margin : 0;
    background: pink;
    text-align: center; 
}

.logo {
    border-top: 0;
    font: 100%/1.6 palatino, georgia, serif;
    padding: 0 1em 2em;
}

.nav {
    font: 50%, serif;
}
